<div id="wrap" class="container-fluid main-panel mt-5">
    <div class="">
        <div class="col-md-12">

            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Cart Order</h4>
                        <p class="card-category">Details of the user and delivery</p>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover text-center">
                            
                            <tr>
                                <th>Order Date : {{userDet.date}}</th>
                            </tr>
                            <tr>
                                <th>User Name : {{userDet.userName}}</th>
                            </tr>

                            <tr>
                                <th>Destination : {{userDet.destination}}</th>
                            </tr>
                            <tr>
                                <th>Payment : {{userDet.payement}}</th>
                            </tr>
                            <tr>
                                <th>Total : {{userDet.total}}</th>
                            </tr>
                         
                        </table>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">Cart Order Management</h4>
                    <p class="card-category">View or change status of order</p>
                </div>

                <div class="card-body">
                    <table cellpadding="0" cellspacing="0" border="0" id="cartTable"
                        class="datatable table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th><strong>Sl. No</strong></th>
                                
                                <th><strong>Product ID</strong></th>
                                
                                <th> <strong>Product Price</strong> </th>
                                <th> <strong>Status</strong></th>
                                
                               
                               
                            </tr>
                        </thead>
                        <tbody>
                            {{#each cartOrders}}

                            <tr class="gradeX">
                                <td>{{add @index '1'}}</td>
                                
                                <td>{{this.proId}}</td>
                                
                                <td>{{this.proPrice}}</td>

                                {{#eq this.status 'pending'}}
                                <td>
                                    <select name="status" id="{{this.proId}}" class="dropdown btn btn-success dropdown-toggle" onchange="updateStatus('{{this._id}}','{{this.userId}}','{{this.proId}}')">
                                        <option value="placed" selected>Pending<i class="bi bi-chevron-down"></i>
                                        </option>
                                        <option value="placed">Placed</option>
                                        <option value="shipped">Shipped</option>
                                        <option value="delivered">Delivered</option>
                                        <option value="cancel">Cancel</option>
                                    </select>
                                </td>
                                {{/eq}}

                                {{#eq this.status 'placed'}}
                                <td>
                                    <select name="status" id="{{this.proId}}"
                                        class="dropdown btn btn-success dropdown-toggle"
                                        onchange="updateStatus('{{this._id}}','{{this.userId}}','{{this.proId}}')">
                                        <option value="placed" selected>Placed<i class="bi bi-chevron-down"></i>
                                        </option>
                                        <option value="shipped">Shipped</option>
                                        <option value="delivered">Delivered</option>
                                        <option value="cancel">Cancel</option>
                                    </select>
                                </td>
                                {{/eq}}

                                {{#eq this.status 'shipped'}}
                                <td>
                                    <select name="status" id="{{this.proId}}"
                                        class="dropdown btn btn-success dropdown-toggle"
                                        onchange="updateStatus('{{this._id}}','{{this.userId}}','{{this.proId}}')">
                                        <option value="shipped" selected>Shipped<i class="bi bi-chevron-down"></i>
                                        </option>
                                        <option value="delivered">Delivered</option>
                                        <option value="cancel">Cancel</option>
                                    </select>
                                </td>
                                {{/eq}}

                                {{#eq this.status 'delivered'}}
                                <td>
                                    <select name="status" id="{{this.proId}}"
                                        class="dropdown btn btn-success dropdown-toggle"
                                        onchange="updateStatus('{{this._id}}','{{this.userId}}','{{this.proId}}')">
                                        <option value="delivered" selected>Delivered<i class="bi bi-chevron-down"></i>
                                        </option>
                                    </select>
                                </td>
                                {{/eq}}
                                {{#eq this.status 'cancel'}}
                                <td>
                                    <select name="status" id="{{this.proId}}"
                                        class="dropdown btn btn-success dropdown-toggle"
                                        onchange="updateStatus('{{this._id}}','{{this.userId}}','{{this.proId}}')">
                                        <option value="cancel">Cancelled</option>
                                    </select>
                                </td>
                                {{/eq}}
                               
                                

                            </tr>



                            {{/each}}

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">

<script>
    $(document).ready(function () {
        $('#cartTable').DataTable();
    });
</script>

<script>
    function updateStatus(orderId, userId, proId) {

        var status = document.getElementById(proId).value

        $.ajax({
            url: '/admin/updateorderstatus/',
            data: {
                orderId: orderId,
                userId: userId,
                status: status,
                proId: proId,
            },
            method: 'post',
            success: (response) => {
                location.reload();
                //document.getElementById(proId).value = status
            }
        })
    }
</script>